.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin-top: calc(var(--headerHeight) * -1);
}

@media (--mediaMobile) {
  .page {
    margin-top: 0;
  }
}
