.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
